CREATE DATABASE [Library]
GO
USE [Library]
GO
/****** Object:  Table [dbo].[tblDauSach]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDauSach](
	[MaDauSach] [char](6) NOT NULL,
	[MaTuaSach] [char](6) NULL,
	[NgonNgu] [nvarchar](500) NOT NULL,
	[MaNXB] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDocGia]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocGia](
	[MaDocGia] [char](6) NOT NULL,
	[HoTenDG] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [varchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SoDienThoai] [varchar](11) NULL,
	[NgayDangKi] [varchar](50) NOT NULL,
	[NgayHetHanDK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMuon]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMuon](
	[MaMuon] [char](6) NOT NULL,
	[MaDocGia] [char](6) NULL,
	[MaDauSach] [char](6) NULL,
	[SoLuong] [int] NOT NULL,
	[NgayMuon] [varchar](50) NOT NULL,
	[NgayHenTra] [varchar](50) NOT NULL,
	[NgayTra] [varchar](50) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhaXuatBan]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhaXuatBan](
	[MaNXB] [char](6) NOT NULL,
	[TenNXB] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTacGia]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTacGia](
	[MaTacGia] [char](6) NOT NULL,
	[TenTacGia] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheLoai]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheLoai](
	[MaTheLoai] [char](6) NOT NULL,
	[TenLoaiSach] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTuaSach]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTuaSach](
	[MaTuaSach] [char](6) NOT NULL,
	[TenTuaSach] [nvarchar](500) NOT NULL,
	[MaTacGia] [char](6) NULL,
	[MaTheLoai] [char](6) NULL,
	[TomTat] [nvarchar](200) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTuaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblDauSach] ([MaDauSach], [MaTuaSach], [NgonNgu], [MaNXB]) VALUES (N'DS0001', N'TS0001', N'Tiếng Việt', N'NXB001')
INSERT [dbo].[tblDauSach] ([MaDauSach], [MaTuaSach], [NgonNgu], [MaNXB]) VALUES (N'DS0002', N'TS0002', N'Tiếng Anh', N'NXB002')
INSERT [dbo].[tblDauSach] ([MaDauSach], [MaTuaSach], [NgonNgu], [MaNXB]) VALUES (N'DS0003', N'TS0003', N'Tiếng Pháp', N'NXB003')
GO
INSERT [dbo].[tblDocGia] ([MaDocGia], [HoTenDG], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [NgayDangKi], [NgayHetHanDK]) VALUES (N'DG0001', N'Võ Văn Cường', N'Nữ', N'July 23, 2000', N'Số 01 đường Cao Thắng, Phường Thanh Khuê', N'0326475036', N'May 12, 2021', N'June 30, 2021')
INSERT [dbo].[tblDocGia] ([MaDocGia], [HoTenDG], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [NgayDangKi], [NgayHetHanDK]) VALUES (N'DG0002', N'Nguyễn Thị Thu', N'Nữ', N'July 24, 2001', N'Số 20 đường Ông Ích Khiêm, Phường Thanh Bình', N'01626475032', N'May 12, 2021', N'Jul 20, 2021')
INSERT [dbo].[tblDocGia] ([MaDocGia], [HoTenDG], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [NgayDangKi], [NgayHetHanDK]) VALUES (N'DG0003', N'Trần Thị Luyến', N'Nữ', N'May 25, 2003', N'Số 2 Thanh Sơn, Phường Hải Châu', N'0982336829', N'May 13, 2021', N'June 10, 2021')
GO
INSERT [dbo].[tblMuon] ([MaMuon], [MaDocGia], [MaDauSach], [SoLuong], [NgayMuon], [NgayHenTra], [NgayTra], [GhiChu]) VALUES (N'MM0001', N'DG0001', N'DS0001', 1, N'Jan 6, 2020', N'Feb 6, 2020', N'Feb 4, 2020', N'')
INSERT [dbo].[tblMuon] ([MaMuon], [MaDocGia], [MaDauSach], [SoLuong], [NgayMuon], [NgayHenTra], [NgayTra], [GhiChu]) VALUES (N'MM0002', N'DG0002', N'DS0001', 2, N'Mar 12, 2020', N'May 12, 2020', N'May 10, 2020', N'')
INSERT [dbo].[tblMuon] ([MaMuon], [MaDocGia], [MaDauSach], [SoLuong], [NgayMuon], [NgayHenTra], [NgayTra], [GhiChu]) VALUES (N'MM0003', N'DG0003', N'DS0010', 3, N'Feb 14, 2020', N'Apr 14, 2020', N'Apr 5, 2020', N'')
GO
INSERT [dbo].[tblNhaXuatBan] ([MaNXB], [TenNXB]) VALUES (N'NXB001', N'Nhà Xuất Bản Giáo Dục')
INSERT [dbo].[tblNhaXuatBan] ([MaNXB], [TenNXB]) VALUES (N'NXB002', N'Nhà Xuất Bản Kim Đồng')
INSERT [dbo].[tblNhaXuatBan] ([MaNXB], [TenNXB]) VALUES (N'NXB003', N'Nhà Xuất Bản Đông Hà')
GO
INSERT [dbo].[tblTacGia] ([MaTacGia], [TenTacGia]) VALUES (N'TG0001', N'TS.Hoàng Thị Mỹ Lệ')
INSERT [dbo].[tblTacGia] ([MaTacGia], [TenTacGia]) VALUES (N'TG0002', N'Akira Mitaki')
INSERT [dbo].[tblTacGia] ([MaTacGia], [TenTacGia]) VALUES (N'TG0003', N'Phạm Thế Hùng')
GO
INSERT [dbo].[tblTheLoai] ([MaTheLoai], [TenLoaiSach]) VALUES (N'TL0001', N'Sách Kinh Dị')
INSERT [dbo].[tblTheLoai] ([MaTheLoai], [TenLoaiSach]) VALUES (N'TL0002', N'Sách Ngôn Tình')
INSERT [dbo].[tblTheLoai] ([MaTheLoai], [TenLoaiSach]) VALUES (N'TL0003', N'Sách Giáo Khoa')
GO
INSERT [dbo].[tblTuaSach] ([MaTuaSach], [TenTuaSach], [MaTacGia], [MaTheLoai], [TomTat], [SoLuong]) VALUES (N'TS0001', N'Truyện tranh Shin cậu bé bút chì', N'TG0002', N'TL0004', N'Là một bộ truyện do Nhật Bản sản xuất', 10)
INSERT [dbo].[tblTuaSach] ([MaTuaSach], [TenTuaSach], [MaTacGia], [MaTheLoai], [TomTat], [SoLuong]) VALUES (N'TS0002', N'Truyện dân gian Trạng Quỳnh', N'TG0004', N'TL0005', N'Là một bộ truyện gian dan do Việt Nam sản xuất', 3)
INSERT [dbo].[tblTuaSach] ([MaTuaSach], [TenTuaSach], [MaTacGia], [MaTheLoai], [TomTat], [SoLuong]) VALUES (N'TS0003', N'Lập trình cơ bản C', N'TG0001', N'TL0003', N'Là một cuốc sách giáo khoa do TS.Hoàng Thị Mỹ Lệ biên soạn', 6)
GO
ALTER TABLE [dbo].[tblDauSach]  WITH CHECK ADD FOREIGN KEY([MaNXB])
REFERENCES [dbo].[tblNhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[tblDauSach]  WITH CHECK ADD FOREIGN KEY([MaTuaSach])
REFERENCES [dbo].[tblTuaSach] ([MaTuaSach])
GO
ALTER TABLE [dbo].[tblMuon]  WITH CHECK ADD FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[tblDauSach] ([MaDauSach])
GO
ALTER TABLE [dbo].[tblMuon]  WITH CHECK ADD FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[tblDocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[tblTuaSach]  WITH CHECK ADD FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[tblTacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[tblTuaSach]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[tblTheLoai] ([MaTheLoai])
GO
/****** Object:  StoredProcedure [dbo].[spInsert_tblDauSach]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsert_tblDauSach]
	@maTS CHAR(6),
	@ngonNgu NVARCHAR(20),
	@MaNXB CHAR(6)
AS
BEGIN
	DECLARE @idTL CHAR(6);
	DECLARE @idTLNew CHAR(6);
	DECLARE @sttTL INT;
	SELECT TOP 1 @idTL = MaDauSach FROM tblDauSach ORDER BY MaDauSach DESC;
	SET @sttTL = CAST(SUBSTRING(@idTL, 4, LEN(@idTL)) AS INT) + 1;
	SET @idTLNew = 'DS' + FORMAT(@sttTL, '000#')
	INSERT INTO tblDauSach
	VALUES(@idTLNew, @maTS, @ngonNgu, @MaNXB)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_tblDocGia]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--Store procedure insert id automatically
CREATE PROCEDURE [dbo].[spInsert_tblDocGia]
	@tenDG NVARCHAR(50),
	@gioiTinh NVARCHAR(5),
	@ngaySinh VARCHAR(20),
	@diaChi NVARCHAR(100),
	@sdt VARCHAR(11),
	@ngayDK VARCHAR(20),
	@ngayHH VARCHAR(20)
AS
BEGIN
	DECLARE @id CHAR(6);
	DECLARE @idNew CHAR(6);
	DECLARE @stt INT;
	SELECT TOP 1 @id = MaDocGia FROM tblDocGia ORDER BY MaDocGia DESC;
	SET @stt = CAST(SUBSTRING(@id, 3, LEN(@id)) AS INT) + 1;
	SET @idNew = 'DG' + FORMAT(@stt, '000#')
	INSERT INTO tblDocGia
	VALUES (@idNew, @tenDG, @gioiTinh, @ngaySinh, @diaChi, @sdt, @ngayDK, @ngayHH)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_tblMuon]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsert_tblMuon]
	@maDG CHAR(6),
	@maTS CHAR(6),
	@soLuong INT,
	@ngayMuon VARCHAR(20),
	@ngayHenTra VARCHAR(20),
	@ngayTra VARCHAR(20),
	@ghiChu NVARCHAR(50)
AS
BEGIN
	DECLARE @id CHAR(6);
	DECLARE @idNew CHAR(6);
	DECLARE @stt INT;
	SELECT TOP 1 @id = MaMuon FROM tblMuon ORDER BY MaMuon DESC;
	SET @stt = CAST(SUBSTRING(@id, 3, LEN(@id)) AS INT) + 1;
	SET @idNew = 'MM' + FORMAT(@stt, '000#')
	INSERT INTO tblMuon
	VALUES (@idNew, @maDG, @maTS, @soLuong, @ngayMuon, @ngayHenTra, @ngayTra, @ghiChu)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_tblNhaXuatBan]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsert_tblNhaXuatBan]
	@tenNXB NVARCHAR(50)
AS
BEGIN
	DECLARE @idTL CHAR(6);
	DECLARE @idTLNew CHAR(6);
	DECLARE @sttTL INT;
	SELECT TOP 1 @idTL = MaNXB FROM tblNhaXuatBan ORDER BY MaNXB DESC;
	SET @sttTL = CAST(SUBSTRING(@idTL, 4, LEN(@idTL)) AS INT) + 1;
	SET @idTLNew = 'NXB' + FORMAT(@sttTL, '00#')
	INSERT INTO tblNhaXuatBan
	VALUES(@idTLNew, @tenNXB)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_tblTacGia]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsert_tblTacGia]
	@tenTG NVARCHAR(50)
AS
BEGIN
	DECLARE @idTG CHAR(6);
	DECLARE @idTGNew CHAR(6);
	DECLARE @sttTG INT;
	SELECT TOP 1 @idTG = MaTacGia FROM tblTacGia ORDER BY MaTacGia DESC;
	SET @sttTG = CAST(SUBSTRING(@idTG, 3, LEN(@idTG)) AS INT) + 1;
	SET @idTGNew = 'TG' + FORMAT(@sttTG, '000#')
	INSERT INTO tblTacGia
	VALUES(@idTGNew, @tenTG)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_tblTheLoai]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsert_tblTheLoai]
	@tenTL NVARCHAR(50)
AS
BEGIN
	DECLARE @idTL CHAR(6);
	DECLARE @idTLNew CHAR(6);
	DECLARE @sttTL INT;
	SELECT TOP 1 @idTL = MaTheLoai FROM tblTheLoai ORDER BY MaTheLoai DESC;
	SET @sttTL = CAST(SUBSTRING(@idTL, 3, LEN(@idTL)) AS INT) + 1;
	SET @idTLNew = 'TL' + FORMAT(@sttTL, '000#')
	INSERT INTO tblTheLoai
	VALUES(@idTLNew, @tenTL)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_tblTuaSach]    Script Date: 6/1/2021 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsert_tblTuaSach]
	@tenTS NVARCHAR(50),
	@maTG CHAR(6),
	@maTL CHAR(6),
	@tomTat NVARCHAR(200),
	@soLuong INT
AS
BEGIN
	DECLARE @id CHAR(6);
	DECLARE @idNew CHAR(6);
	DECLARE @stt INT;
	SELECT TOP 1 @id = MaTuaSach FROM tblTuaSach ORDER BY MaTuaSach DESC;
	SET @stt = CAST(SUBSTRING(@id, 3, LEN(@id)) AS INT) + 1;
	SET @idNew = 'TS' + FORMAT(@stt, '000#')
	INSERT INTO tblTuaSach
	VALUES (@idNew, @tenTS, @maTG, @maTL, @tomTat, @soLuong)
END
GO
